.nav-ul li{
  display: inline-block;
  padding: 10px;
}

.nav-ul li a{
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.nav-ul {
  padding: 5px;
  margin: 0px;
  background-color: skyblue;
}


.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}

.register, .addProduct, .login {
  margin-left: 30%;
  margin-top: 80px;
}

.inputBox{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
}

.appButton{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
}

.nav-right{
  text-align: right;
}

.navLogo{
  width: 45px;
  float: left;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 20px;
}
.error{
  color: red;
  font-size: 16px;
  display: block;
  margin: -20px 0px 0px 25px;
}

.productList {
  text-align: center;
}

.productList ul{
  margin: 0px;
  padding: 0px;
  /* list-style-type: none; */
}

/* .productList ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  margin: 0px;

} */
.listButton{
  background-color: skyblue;
  font-size: 18px;
  border-radius: 5px;
}
.searchAddProduct{
  display: inline-flex;
  justify-content: space-between;
  width: 70%;
}
.searchProductBox{
  width: 400px;
  margin: 20px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 20px;
  display: inline;
}

.displayAddButton{
  display: inline;
}

table{
  margin-left: auto;
  margin-right: auto;
}

table, tr, td, th {
  border: 1px solid skyblue;
  border-collapse: collapse;
}

td,th{
  width: 125px;
  padding: 10px;
}